<beans>
//数据源
    <bean id="dataSource"
        class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost/stuinfo?useUnicode=true&amp;characterEncoding=UTF-8</value>
        </property>
        <property name="username">
            <value>shenze</value>
        </property>
        <property name="password">
   <value>shenze</value>
  </property>    
    </bean>
    
    <bean id="exampleHibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
            </props>
        </property>
    </bean>
    
    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
              <property name="mappingResources">
               <list>
                  <value>Stuinfo.hbm.xml</value>
              </list>
          </property>
        <property name="hibernateProperties">
            <ref bean="exampleHibernateProperties" />
        </property>
    </bean>

    <bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager"
        abstract="false" singleton="true" lazy-init="default"
        autowire="default" dependency-check="default">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>
    <bean id="baseDao" abstract="true" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="testDao" parent="baseDao" class="db.hibernate.zjy.dao.StuinfoDaoImpl" singleton="true"/>
    <bean id="testBoTarget" class="ssh.naxj.bo.TestBo" singleton="true">
        <property name="testDao" ref="testDao"/>
    </bean>
    
    <bean id="testBo"
      class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager"><ref local="transactionManager"/></property>
        <property name="target"><ref local="testBoTarget"/></property>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    
</beans>