BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #333; PADDING-BOTTOM: 0px; MARGIN: 10px; FONT: 80% "Lucida Grande", Verdana, Arial, sans-serif; COLOR: #333; PADDING-TOP: 0px
}
TABLE {
	FONT-SIZE: 1em
}
A {
	COLOR: #00adef; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
HR {
	BORDER-TOP: #ddd 1px solid; MARGIN: 10px -10px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
#container {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: #fff; PADDING-BOTTOM: 20px; PADDING-TOP: 6px
}
#header {
	FONT-SIZE: 1px; BACKGROUND: url(../dnsimages/header_bg.gif) repeat-x; HEIGHT: 110px
}
#logo {
	HEIGHT: 110px
}
#adbanner {
	RIGHT: 26px; POSITION: absolute; TOP: 26px
}
#navbar {
	FONT-SIZE: 11px; BACKGROUND: url(../dnsimages/navbar_bg.gif) repeat-x; HEIGHT: 36px
}
#userbar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 3px 0px 0px 5px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#userbar LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 1px 0px 0px; PADDING-TOP: 0px
}
#userbar A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right; PADDING-BOTTOM: 7px; COLOR: #fff; PADDING-TOP: 6px
}
#userbar A:hover {
	BACKGROUND: #00adef; TEXT-DECORATION: none
}
#searchbox {
	FONT-SIZE: 1em; FLOAT: right; MARGIN: 4px 5px
}
#searchbox INPUT {
	FONT-SIZE: 1em
}
#footer {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.85em; PADDING-BOTTOM: 10px; COLOR: #aaa; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#sidebar {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 100px; PADDING-TOP: 10px
}
#sidebar H2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 1em; BACKGROUND: #8bc71e; PADDING-BOTTOM: 4px; MARGIN: 25px -10px 5px; COLOR: #fff; PADDING-TOP: 4px; BORDER-BOTTOM: #d2ee9f 3px solid
}
#sidebar .ad {
	FONT-SIZE: 1.2em; MARGIN-LEFT: -10px
}
#sidebar H2 A {
	COLOR: #3f6618
}
#sidebar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; FONT-SIZE: 0.85em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#sidebar LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 3px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#adtower {
	FONT-SIZE: 1em; FLOAT: right; WIDTH: 140px; PADDING-TOP: 20px
}
#content {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; PADDING-BOTTOM: 6px; MARGIN: 10px 0px 0px 150px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 6px
}
#content H2 {
	MARGIN: 15px 0px 5px; FONT: 1.8em Georgia, "Courier New", courier, serif; COLOR: #ce5c00
}
#content H3 {
	FONT-SIZE: 1.2em; MARGIN: 10px 0px 0px; COLOR: #777
}
#content H4 {
	FONT-SIZE: 1.1em; MARGIN: 10px 0px 0px; COLOR: #000
}
#content H5 {
	FONT-SIZE: 0.9em; MARGIN: 10px 0px 0px; COLOR: #000
}
#content .item {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px -10px; PADDING-TOP: 5px
}
#content .alt {
	BORDER-TOP: #ddd 1px solid; BACKGROUND: #f5f5f5; BORDER-BOTTOM: #ddd 1px solid
}
#content .box {
	BORDER-TOP: #ddd 1px solid; BACKGROUND: #f5f5f5; BORDER-BOTTOM: #ddd 1px solid
}
.CommentOwner {
	BORDER-RIGHT: #e7d59c 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #e7d59c 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 3px -10px; BORDER-LEFT: #e7d59c 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e7d59c 1px solid; BACKGROUND-COLOR: #f4efc3
}
#content .adbox {
	FONT-SIZE: 1em; MARGIN: 0px
}
#content .newsCategories {
	MARGIN: 0px
}
#content .linkAd {
	FLOAT: right; WIDTH: 50%; TEXT-ALIGN: left
}
#content .small {
	FONT-SIZE: 0.85em
}
#content P.small {
	MARGIN: 0px
}
#content .small P {
	MARGIN: 0px
}
#content .gray {
	COLOR: #777
}
#content .box {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 20px -10px; PADDING-TOP: 5px
}
#content UL.listing {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#content UL.listing LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 3px 0px 3px 5px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#content DIV.list {
	MARGIN-TOP: 15px
}
#content DIV.list LI {
	LIST-STYLE-POSITION: inside
}
#sidebar .nested LI UL {
	DISPLAY: none; FONT-SIZE: 1em; MARGIN-LEFT: 10px
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; LINE-HEIGHT: 1px
}
.textads {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 0.85em; PADDING-BOTTOM: 3px; MARGIN: 10px 0px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #ddd 1px solid
}
.textadsBox {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 0.85em; PADDING-BOTTOM: 3px; MARGIN: 10px 0px; BORDER-LEFT: #ddd 1px solid; WIDTH: 112px; PADDING-TOP: 3px; BORDER-BOTTOM: #ddd 1px solid
}
.textads P {
	MARGIN: 1px 0px 6px
}
#content .paging {
	COLOR: #aaa
}
#content .paging A {
	FONT-WEIGHT: bold
}
.rating {
	FLOAT: right; TEXT-ALIGN: right
}
.right {
	FLOAT: right; TEXT-ALIGN: right
}
.ratingStar {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0pt; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 13px; CURSOR: pointer; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
.filledRatingStar {
	BACKGROUND-IMAGE: url(/dnsImages/star_active.gif)
}
.emptyRatingStar {
	BACKGROUND-IMAGE: url(/dnsImages/star_inactive.gif)
}
.savedRatingStar {
	BACKGROUND-IMAGE: url(/dnsImages/star_active.gif)
}
.UpdateProgress {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; RIGHT: 3px; BACKGROUND: #f5f5f5; PADDING-BOTTOM: 3px; BORDER-LEFT: #ddd 1px solid; WIDTH: 125px; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #ddd 1px solid; POSITION: fixed; TOP: 3px; HEIGHT: 15px
}
.CommonTagCloud {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 16px; MARGIN: 16px 0px; COLOR: #999999; LINE-HEIGHT: 250%; PADDING-TOP: 16px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #f7f7f7
}
#sidebar .CommonSidebarTagCloud {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 225%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#sidebar .CommonTag1 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonTag1 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar .CommonTag2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonTag2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar .CommonTag3 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonTag3 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar .CommonTag4 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonTag4 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar .CommonTag5 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonTag5 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar .CommonTag6 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonTag6 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar .CommonTag1 A:link {
	FONT-WEIGHT: 900; FONT-SIZE: 155%; COLOR: #334433; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag1 A:link {
	FONT-WEIGHT: 900; FONT-SIZE: 155%; COLOR: #334433; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag1 A:visited {
	FONT-WEIGHT: 900; FONT-SIZE: 155%; COLOR: #334433; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag1 A:visited {
	FONT-WEIGHT: 900; FONT-SIZE: 155%; COLOR: #334433; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag1 A:active {
	FONT-WEIGHT: 900; FONT-SIZE: 155%; COLOR: #334433; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag1 A:active {
	FONT-WEIGHT: 900; FONT-SIZE: 155%; COLOR: #334433; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag2 A:link {
	FONT-WEIGHT: 800; FONT-SIZE: 140%; COLOR: #445544; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag2 A:link {
	FONT-WEIGHT: 800; FONT-SIZE: 140%; COLOR: #445544; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag2 A:visited {
	FONT-WEIGHT: 800; FONT-SIZE: 140%; COLOR: #445544; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag2 A:visited {
	FONT-WEIGHT: 800; FONT-SIZE: 140%; COLOR: #445544; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag2 A:active {
	FONT-WEIGHT: 800; FONT-SIZE: 140%; COLOR: #445544; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag2 A:active {
	FONT-WEIGHT: 800; FONT-SIZE: 140%; COLOR: #445544; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag3 A:link {
	FONT-WEIGHT: 600; FONT-SIZE: 135%; COLOR: #556655; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag3 A:link {
	FONT-WEIGHT: 600; FONT-SIZE: 135%; COLOR: #556655; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag3 A:visited {
	FONT-WEIGHT: 600; FONT-SIZE: 135%; COLOR: #556655; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag3 A:visited {
	FONT-WEIGHT: 600; FONT-SIZE: 135%; COLOR: #556655; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag3 A:active {
	FONT-WEIGHT: 600; FONT-SIZE: 135%; COLOR: #556655; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag3 A:active {
	FONT-WEIGHT: 600; FONT-SIZE: 135%; COLOR: #556655; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag4 A:link {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #667766; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag4 A:link {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #667766; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag4 A:visited {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #667766; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag4 A:visited {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #667766; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag4 A:active {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #667766; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag4 A:active {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #667766; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag5 A:link {
	COLOR: #778877; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag5 A:link {
	COLOR: #778877; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag5 A:visited {
	COLOR: #778877; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag5 A:visited {
	COLOR: #778877; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag5 A:active {
	COLOR: #778877; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag5 A:active {
	COLOR: #778877; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag6 A:link {
	FONT-WEIGHT: 200; FONT-SIZE: 80%; COLOR: #889988; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag6 A:link {
	FONT-WEIGHT: 200; FONT-SIZE: 80%; COLOR: #889988; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag6 A:visited {
	FONT-WEIGHT: 200; FONT-SIZE: 80%; COLOR: #889988; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag6 A:visited {
	FONT-WEIGHT: 200; FONT-SIZE: 80%; COLOR: #889988; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag6 A:active {
	FONT-WEIGHT: 200; FONT-SIZE: 80%; COLOR: #889988; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag6 A:active {
	FONT-WEIGHT: 200; FONT-SIZE: 80%; COLOR: #889988; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
#sidebar .CommonTag1 A:hover {
	BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
.CommonTag1 A:hover {
	BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
#sidebar .CommonTag2 A:hover {
	BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
.CommonTag2 A:hover {
	BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
#sidebar .CommonTag3 A:hover {
	BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
.CommonTag3 A:hover {
	BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
#sidebar .CommonTag4 A:hover {
	BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
.CommonTag4 A:hover {
	BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
#sidebar .CommonTag5 A:hover {
	BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
.CommonTag5 A:hover {
	BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
#sidebar .CommonTag6 A:hover {
	BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
.CommonTag6 A:hover {
	BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
#dns__hdn_content {
	MARGIN: 10px 10px 0px
}
#dns__hdn_content H2 {
	MARGIN: 15px 0px 5px; FONT: 1.8em Georgia, "Courier New", courier, serif; COLOR: #ce5c00
}
#dns__hdn_content H3 {
	FONT-SIZE: 1.2em; MARGIN: 10px 0px 0px; COLOR: #777
}
.hdn_adsubtitle {
	FONT-SIZE: 0.9em; COLOR: #999999; FONT-STYLE: italic
}
.hdn_jb_tblistings {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 1em; BORDER-LEFT-COLOR: white; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: white; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; BORDER-TOP-COLOR: white; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: white
}
.hdn_jb_tbhdrrow {
	BACKGROUND-COLOR: #dadada; TEXT-ALIGN: left
}
.hdn_jb_tbstdrow {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px -10px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
.hdn_jb_tbaltrow {
	BACKGROUND: #f5f5f5; VERTICAL-ALIGN: top
}
CODE {
	FONT-SIZE: 1.2em; COLOR: #990000
}
.iTt {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: black 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: black 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: lightyellow
}
#content TABLE.box TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: left
}
#content TABLE.box {
	BORDER-COLLAPSE: collapse
}
#content TABLE.box TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#content TABLE.box TR.alt TD {
	BACKGROUND: #eaeaea
}
.lightGrayBorder {
	
}
.commentImg1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; VERTICAL-ALIGN: middle
}
.commentImg2 {
	PADDING-RIGHT: 5px; VERTICAL-ALIGN: bottom
}
.leftLine {
	PADDING-LEFT: 4px
}
.commentRow {
	BACKGROUND-COLOR: #ece9d8
}
.ArticleInfoBox {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 0.9em; BACKGROUND: #f5f5f5; FLOAT: right; PADDING-BOTTOM: 8px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: right
}
.dimBackground {
	Z-INDEX: 1000; FILTER: alpha(opacity=50); BACKGROUND-COLOR: #999999; opacity: 0.5
}
.progress {
	BORDER-RIGHT: #333333 5px solid; BORDER-TOP: #333333 5px solid; FONT-SIZE: 12px; Z-INDEX: 9999; BACKGROUND: #ffffff 0% 50%; BORDER-LEFT: #333333 5px solid; WIDTH: 240px; BORDER-BOTTOM: #333333 5px solid; POSITION: absolute; HEIGHT: 50px
}
#toc {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 20px -10px; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #dddddd 1px solid; BACKGROUND-COLOR: #f5f5f5; TEXT-ALIGN: center
}
#toc TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
#toc UL {
	PADDING-LEFT: 0pt; LIST-STYLE-IMAGE: none; MARGIN-LEFT: 0pt; LINE-HEIGHT: 1.4em; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.toc UL {
	PADDING-LEFT: 0pt; LIST-STYLE-IMAGE: none; MARGIN-LEFT: 0pt; LINE-HEIGHT: 1.4em; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
#toc UL UL {
	MARGIN: 0pt 0pt 0pt 2em
}
.toc UL UL {
	MARGIN: 0pt 0pt 0pt 2em
}
#toc .toctoggle {
	FONT-SIZE: 94%
}
.toc .toctoggle {
	FONT-SIZE: 94%
}
.breadcrumb {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; BACKGROUND: #f5f5f5; PADDING-BOTTOM: 4px; MARGIN: 8px -11px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #ddd 1px solid
}
.syntaxhighlighter {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 1em! important; RIGHT: auto! important; BACKGROUND: none transparent scroll repeat 0% 0%; LEFT: auto! important; FLOAT: none! important; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; VERTICAL-ALIGN: baseline! important; WIDTH: auto! important; BOTTOM: auto! important; LINE-HEIGHT: 1.1em! important; PADDING-TOP: 0px! important; FONT-STYLE: normal! important; FONT-FAMILY: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace! important; POSITION: static! important; TOP: auto! important; HEIGHT: auto! important; TEXT-ALIGN: left! important; BORDER-RIGHT-WIDTH: 0px! important; outline: 0
}
.syntaxhighlighter DIV {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 1em! important; RIGHT: auto! important; BACKGROUND: none transparent scroll repeat 0% 0%; LEFT: auto! important; FLOAT: none! important; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; VERTICAL-ALIGN: baseline! important; WIDTH: auto! important; BOTTOM: auto! important; LINE-HEIGHT: 1.1em! important; PADDING-TOP: 0px! important; FONT-STYLE: normal! important; FONT-FAMILY: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace! important; POSITION: static! important; TOP: auto! important; HEIGHT: auto! important; TEXT-ALIGN: left! important; BORDER-RIGHT-WIDTH: 0px! important; outline: 0
}
.syntaxhighlighter CODE {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 1em! important; RIGHT: auto! important; BACKGROUND: none transparent scroll repeat 0% 0%; LEFT: auto! important; FLOAT: none! important; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; VERTICAL-ALIGN: baseline! important; WIDTH: auto! important; BOTTOM: auto! important; LINE-HEIGHT: 1.1em! important; PADDING-TOP: 0px! important; FONT-STYLE: normal! important; FONT-FAMILY: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace! important; POSITION: static! important; TOP: auto! important; HEIGHT: auto! important; TEXT-ALIGN: left! important; BORDER-RIGHT-WIDTH: 0px! important; outline: 0
}
.syntaxhighlighter SPAN {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 1em! important; RIGHT: auto! important; BACKGROUND: none transparent scroll repeat 0% 0%; LEFT: auto! important; FLOAT: none! important; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; VERTICAL-ALIGN: baseline! important; WIDTH: auto! important; BOTTOM: auto! important; LINE-HEIGHT: 1.1em! important; PADDING-TOP: 0px! important; FONT-STYLE: normal! important; FONT-FAMILY: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace! important; POSITION: static! important; TOP: auto! important; HEIGHT: auto! important; TEXT-ALIGN: left! important; BORDER-RIGHT-WIDTH: 0px! important; outline: 0
}
.syntaxhighlighter {
	PADDING-RIGHT: 1px! important; PADDING-LEFT: 1px! important; PADDING-BOTTOM: 1px! important; MARGIN: 1em 0px; WIDTH: 100%! important; PADDING-TOP: 1px! important; POSITION: relative! important
}
.syntaxhighlighter CODE {
	DISPLAY: inline! important
}
.syntaxhighlighter .bold {
	FONT-WEIGHT: bold! important
}
.syntaxhighlighter .italic {
	FONT-STYLE: italic! important
}
.syntaxhighlighter .line .number {
	PADDING-RIGHT: 0.3em! important; DISPLAY: block! important; FLOAT: left! important; WIDTH: 3em! important; TEXT-ALIGN: right! important
}
.nogutter .line .number {
	DISPLAY: none! important
}
.syntaxhighlighter .line .content {
	DISPLAY: block! important; PADDING-LEFT: 0.5em! important; MARGIN-LEFT: 3.3em! important
}
.syntaxhighlighter .line .content .block {
	DISPLAY: block! important; PADDING-LEFT: 1.5em! important; TEXT-INDENT: -1.5em! important
}
.syntaxhighlighter .line .content .spaces {
	DISPLAY: none! important
}
.nogutter .line .content {
	MARGIN-LEFT: 0px! important; BORDER-LEFT-STYLE: none! important
}
.syntaxhighlighter .bar {
	DISPLAY: none! important
}
.syntaxhighlighter .show {
	DISPLAY: block! important
}
.collapsed .bar {
	DISPLAY: block! important
}
.nogutter .ruler {
	PADDING-LEFT: 0px! important; MARGIN-LEFT: 0px! important
}
.syntaxhighlighter .ruler {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0.5em! important; PADDING-BOTTOM: 0.5em! important; MARGIN-LEFT: 3.3em! important; OVERFLOW: hidden! important; PADDING-TOP: 0px! important
}
.collapsed .lines {
	DISPLAY: none! important
}
.collapsed .ruler {
	DISPLAY: none! important
}
.syntaxhighlighter .no-wrap {
	OVERFLOW-Y: hidden; OVERFLOW: auto
}
.syntaxhighlighter .toolbar {
	PADDING-RIGHT: 8px! important; PADDING-LEFT: 0px! important; FONT-SIZE: 1px! important; RIGHT: 0px! important; PADDING-BOTTOM: 8px! important; PADDING-TOP: 8px! important; POSITION: absolute! important; TOP: 0px! important
}
.collapsed .toolbar {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0.5em! important; FONT-SIZE: 80%! important; PADDING-BOTTOM: 0.5em! important; PADDING-TOP: 0.2em! important; POSITION: static! important
}
.syntaxhighlighter .toolbar A.item {
	DISPLAY: block! important; FLOAT: left! important; MARGIN-LEFT: 8px! important; OVERFLOW: hidden! important; TEXT-INDENT: -5000px! important; BACKGROUND-REPEAT: no-repeat! important
}
.syntaxhighlighter .toolbar .item {
	DISPLAY: block! important; FLOAT: left! important; MARGIN-LEFT: 8px! important; OVERFLOW: hidden! important; TEXT-INDENT: -5000px! important; BACKGROUND-REPEAT: no-repeat! important
}
.collapsed .toolbar .item {
	DISPLAY: none! important
}
.collapsed .toolbar .expandSource {
	DISPLAY: inline! important; PADDING-LEFT: 20px! important; FLOAT: none! important; BACKGROUND-IMAGE: url(http://dotnetslackers.com/styles/highlighter20320/magnifier.png)! important; WIDTH: auto! important; TEXT-INDENT: 0px! important; HEIGHT: 16px! important
}
.syntaxhighlighter .toolbar .viewSource {
	BACKGROUND-IMAGE: url(http://dotnetslackers.com/styles/highlighter20320/page_white_code.png)! important
}
.syntaxhighlighter .toolbar .printSource {
	BACKGROUND-IMAGE: url(http://dotnetslackers.com/styles/highlighter20320/printer.png)! important
}
.syntaxhighlighter .toolbar .copyToClipboard {
	BACKGROUND: none transparent scroll repeat 0% 0%; OVERFLOW: visible! important; TEXT-INDENT: 0px! important
}
.syntaxhighlighter .toolbar .about {
	BACKGROUND-IMAGE: url(http://dotnetslackers.com/styles/highlighter20320/help.png)! important
}
.printing {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing .alt1 .content {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing .alt2 .content {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing .highlighted .number {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing .alt1 .content {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing .alt2 .content {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing .line .content .block {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.syntaxhighlighter .no-wrap .line .content .block {
	WHITE-SPACE: nowrap! important
}
.printing .line .number {
	COLOR: #bbb! important
}
.printing .line .content {
	COLOR: #000! important
}
.printing .toolbar {
	DISPLAY: none! important
}
.printing .ruler {
	DISPLAY: none! important
}
.printing A {
	TEXT-DECORATION: none! important
}
.printing .plain {
	COLOR: #000! important
}
.printing .plain A {
	COLOR: #000! important
}
.printing .comments {
	COLOR: #008200! important
}
.printing .comments A {
	COLOR: #008200! important
}
.printing .string {
	COLOR: blue! important
}
.printing .string A {
	COLOR: blue! important
}
.printing .keyword {
	FONT-WEIGHT: bold! important; COLOR: #069! important
}
.printing .preprocessor {
	COLOR: gray! important
}
.printing .variable {
	COLOR: #a70! important
}
.printing .value {
	COLOR: #090! important
}
.printing .functions {
	COLOR: #ff1493! important
}
.printing .constants {
	COLOR: #0066cc! important
}
.printing .script {
	FONT-WEIGHT: bold! important
}
.printing .color1 {
	COLOR: #808080! important
}
.printing .color1 A {
	COLOR: #808080! important
}
.printing .color2 {
	COLOR: #ff1493! important
}
.printing .color2 A {
	COLOR: #ff1493! important
}
.printing .color3 {
	COLOR: red! important
}
.printing .color3 A {
	COLOR: red! important
}
.syntaxhighlighter {
	BACKGROUND-COLOR: #e7e5dc! important
}
.syntaxhighlighter .highlighted .number {
	COLOR: black! important; BACKGROUND-COLOR: #6ce26c! important
}
.syntaxhighlighter .alt1 .content {
	BACKGROUND-COLOR: #6ce26c! important
}
.syntaxhighlighter .alt2 .content {
	BACKGROUND-COLOR: #6ce26c! important
}
.syntaxhighlighter .line .number {
	COLOR: #5c5c5c! important
}
.syntaxhighlighter .line .content {
	BORDER-LEFT: #6ce26c 3px solid; COLOR: #000! important
}
.printing .line .content {
	BORDER-TOP-WIDTH: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; BORDER-RIGHT-WIDTH: 0px! important
}
.syntaxhighlighter .alt1 .content {
	BACKGROUND-COLOR: #fff! important
}
.syntaxhighlighter .alt2 .content {
	BACKGROUND-COLOR: #f8f8f8! important
}
.syntaxhighlighter .line .content .block {
	BACKGROUND: url(http://dotnetslackers.com/styles/highlighter20320/wrapping.png) no-repeat 0px 1.1em
}
.syntaxhighlighter .ruler {
	BORDER-LEFT: #6ce26c 3px solid; COLOR: silver! important; BACKGROUND-COLOR: #f8f8f8! important
}
.nogutter .ruler {
	BORDER-TOP-WIDTH: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; BORDER-RIGHT-WIDTH: 0px! important
}
.syntaxhighlighter .toolbar {
	BORDER-RIGHT: #e7e5dc 1px solid; BORDER-TOP: #e7e5dc 1px solid; BORDER-LEFT: #e7e5dc 1px solid; BORDER-BOTTOM: #e7e5dc 1px solid; BACKGROUND-COLOR: #f8f8f8! important
}
.syntaxhighlighter .toolbar A {
	COLOR: #a0a0a0! important
}
.syntaxhighlighter .toolbar A:hover {
	COLOR: red! important
}
.syntaxhighlighter .plain {
	COLOR: #000! important
}
.syntaxhighlighter .plain A {
	COLOR: #000! important
}
.syntaxhighlighter .comments {
	COLOR: #008200! important
}
.syntaxhighlighter .comments A {
	COLOR: #008200! important
}
.syntaxhighlighter .string {
	COLOR: blue! important
}
.syntaxhighlighter .string A {
	COLOR: blue! important
}
.syntaxhighlighter .keyword {
	FONT-WEIGHT: bold! important; COLOR: #069! important
}
.syntaxhighlighter .preprocessor {
	COLOR: gray! important
}
.syntaxhighlighter .variable {
	COLOR: #a70! important
}
.syntaxhighlighter .value {
	COLOR: #090! important
}
.syntaxhighlighter .functions {
	COLOR: #ff1493! important
}
.syntaxhighlighter .constants {
	COLOR: #0066cc! important
}
.syntaxhighlighter .script {
	BACKGROUND-COLOR: yellow! important
}
.syntaxhighlighter .color1 {
	COLOR: #808080! important
}
.syntaxhighlighter .color1 A {
	COLOR: #808080! important
}
.syntaxhighlighter .color2 {
	COLOR: #ff1493! important
}
.syntaxhighlighter .color2 A {
	COLOR: #ff1493! important
}
.syntaxhighlighter .color3 {
	COLOR: red! important
}
.syntaxhighlighter .color3 A {
	COLOR: red! important
}
