.RadMenu_CssBlue {
	MARGIN-TOP: 2px; MARGIN-LEFT: 2px
}
.RadMenu_CssBlue_Context {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.RadMenu_CssBlue .link {
	FONT-WEIGHT: bold; COLOR: #fff; LINE-HEIGHT: 20px; PADDING-TOP: 6px; TEXT-DECORATION: none
}
.RadMenu_CssBlue .link .text {
	PADDING-RIGHT: 5px
}
.RadMenu_CssBlue .link:hover {
	BACKGROUND: #00adef; TEXT-DECORATION: none
}
.RadMenu_CssBlue .focused {
	BACKGROUND: #00adef; TEXT-DECORATION: none
}
.RadMenu_CssBlue .expanded {
	BACKGROUND: #00adef; TEXT-DECORATION: none
}
.RadMenu_CssBlue .link:hover .text {
	
}
.RadMenu_CssBlue .focused .text {
	
}
.RadMenu_CssBlue .expanded .text {
	
}
.RadMenu_CssBlue .rootGroup .disabled:hover {
	
}
.RadMenu_CssBlue .rootGroup .disabled:hover .text {
	BORDER-TOP: #a7cfe8 1px solid
}
.RadMenu_CssBlue .text {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.RadMenu_CssBlue .group {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: white; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.RadMenu_CssBlue .group .link {
	PADDING-RIGHT: 0px; BACKGROUND: #0dbafc; TEXT-ALIGN: left
}
.RadMenu_CssBlue .group .text {
	PADDING-RIGHT: 40px; PADDING-LEFT: 6px
}
.RadMenu_CssBlue .group .link:hover {
	BACKGROUND: #a7cfe8
}
.RadMenu_CssBlue .group .focused {
	BACKGROUND: #a7cfe8
}
.RadMenu_CssBlue .group .expanded {
	BACKGROUND: #a7cfe8
}
.RadMenu_CssBlue .group .link:hover .text {
	BORDER-TOP-WIDTH: 0px
}
.RadMenu_CssBlue .group .focused .text {
	BORDER-TOP-WIDTH: 0px
}
.RadMenu_CssBlue .group .expanded .text {
	BORDER-TOP-WIDTH: 0px
}
.RadMenu_CssBlue .leftArrow {
	BORDER-RIGHT: #bfcde3 1px solid; BACKGROUND: url(img/left.gif) #a7cfe8 no-repeat center center; BORDER-LEFT: #bfcde3 1px solid; WIDTH: 15px
}
.RadMenu_CssBlue .rightArrow {
	BORDER-RIGHT: #bfcde3 1px solid; BACKGROUND: url(img/left.gif) #a7cfe8 no-repeat center center; BORDER-LEFT: #bfcde3 1px solid; WIDTH: 15px
}
.RadMenu_CssBlue .topArrow {
	BORDER-RIGHT: #bfcde3 1px solid; BACKGROUND: url(img/left.gif) #a7cfe8 no-repeat center center; BORDER-LEFT: #bfcde3 1px solid; WIDTH: 15px
}
.RadMenu_CssBlue .bottomArrow {
	BORDER-RIGHT: #bfcde3 1px solid; BACKGROUND: url(img/left.gif) #a7cfe8 no-repeat center center; BORDER-LEFT: #bfcde3 1px solid; WIDTH: 15px
}
.RadMenu_CssBlue .leftArrowDisabled {
	BORDER-RIGHT: #bfcde3 1px solid; BACKGROUND: url(img/left.gif) #a7cfe8 no-repeat center center; BORDER-LEFT: #bfcde3 1px solid; WIDTH: 15px
}
.RadMenu_CssBlue .rightArrowDisabled {
	BORDER-RIGHT: #bfcde3 1px solid; BACKGROUND: url(img/left.gif) #a7cfe8 no-repeat center center; BORDER-LEFT: #bfcde3 1px solid; WIDTH: 15px
}
.RadMenu_CssBlue .topArrowDisabled {
	BORDER-RIGHT: #bfcde3 1px solid; BACKGROUND: url(img/left.gif) #a7cfe8 no-repeat center center; BORDER-LEFT: #bfcde3 1px solid; WIDTH: 15px
}
.RadMenu_CssBlue .bottomArrowDisabled {
	BORDER-RIGHT: #bfcde3 1px solid; BACKGROUND: url(img/left.gif) #a7cfe8 no-repeat center center; BORDER-LEFT: #bfcde3 1px solid; WIDTH: 15px
}
.RadMenu_CssBlue .topArrow {
	BACKGROUND-IMAGE: url(img/top.gif); WIDTH: 100%
}
.RadMenu_CssBlue .topArrowDisabled {
	BACKGROUND-IMAGE: url(img/top.gif); WIDTH: 100%
}
.RadMenu_CssBlue .bottomArrow {
	BACKGROUND-IMAGE: url(img/bottom.gif); WIDTH: 100%
}
.RadMenu_CssBlue .bottomArrowDisabled {
	BACKGROUND-IMAGE: url(img/bottom.gif); WIDTH: 100%
}
.RadMenu_CssBlue .rightArrow {
	HEIGHT: 100%
}
.RadMenu_CssBlue .leftArrow {
	HEIGHT: 100%
}
.RadMenu_CssBlue .rightArrow {
	BACKGROUND-IMAGE: url(img/right.gif)
}
.RadMenu_CssBlue .rightArrowDisabled {
	BACKGROUND-IMAGE: url(img/right.gif)
}
.RadMenu_CssBlue .vertical .separator .text {
	BORDER-RIGHT: #bfcde3 1px solid; FONT-SIZE: 1px; BACKGROUND: #d4e5eb; BORDER-LEFT: #bfcde3 1px solid; PADDING-TOP: 2px
}
.RadMenu_CssBlue .expandLeft {
	BACKGROUND: url(img/groupImage.gif) no-repeat right center; MARGIN: 0px
}
.RadMenu_CssBlue .expandRight {
	BACKGROUND: url(img/groupImage.gif) no-repeat right center; MARGIN: 0px
}
.RadMenu_CssBlue_rtl .group .link:hover .expandLeft {
	PADDING-LEFT: 8px; BACKGROUND: url(img/left.gif) no-repeat left center; MARGIN: 0px 1px
}
.RadMenu_CssBlue_rtl .group .link:hover .expandRight {
	PADDING-LEFT: 8px; BACKGROUND: url(img/left.gif) no-repeat left center; MARGIN: 0px 1px
}
.RadMenu_CssBlue_rtl .expandLeft {
	BACKGROUND: url(img/groupImageRTL.gif) no-repeat left center
}
.RadMenu_CssBlue_rtl .expandRight {
	BACKGROUND: url(img/groupImageRTL.gif) no-repeat left center
}
.RadMenu_CssBlue .link:hover .expandLeft {
	BACKGROUND: url(img/invertedGroupImage.gif) no-repeat right center
}
.RadMenu_CssBlue .link:hover .expandRight {
	BACKGROUND: url(img/invertedGroupImage.gif) no-repeat right center
}
.RadMenu_CssBlue .focused .expandLeft {
	BACKGROUND: url(img/invertedGroupImage.gif) no-repeat right center
}
.RadMenu_CssBlue .focused .expandRight {
	BACKGROUND: url(img/invertedGroupImage.gif) no-repeat right center
}
.RadMenu_CssBlue .expanded .expandLeft {
	BACKGROUND: url(img/invertedGroupImage.gif) no-repeat right center
}
.RadMenu_CssBlue .expanded .expandRight {
	BACKGROUND: url(img/invertedGroupImage.gif) no-repeat right center
}
DIV.text {
	DISPLAY: inline
}
